<div  class="container text-center bod ">
    <!-- <h3>THE BAND</h3> -->
    
    
        <!-- <img src="./assets/images/home.png" alt="Logo" style="width:500px; margin-top: 50px;"> -->
<div class="row center  ">
<div class="home bod h-5 mb-5 mt-5">
    <img src="./assets/images/home.png" alt="Logo" style="width:500px; margin-top: 50px;">
    <h3><em>We love music!</em></h3>
    
       
            <p>FilmyRaaga is very useful for music lovers and helpful to those students who studies music. This site provides the raagas of film songs.If  music teachers or anyone who visits this site, having deep knowledge in music can contribute film songs and ragas to this site .Hope you will enjoy this experience!!!!!!!!!!!!! </p>
       

    </div>
   
</div>
   
  </div>